@model BotanicShop.Models.Product


@{
    ViewData["Title"] = "Product Shop";
}


<h1 class="PageHeader">Product Shop</h1>
<hr />

<div class="PageContent">
    <table class="Product-table">
        <tr>
            <th> Name</th>
            <th colspan="2"> Description</th>
            <th> Quantity</th>
        </tr>
        
        <tr>

                <td> Product Name</td>
                <td colspan="2"> Product Description</td>
                <td></td>
                <td> <button id="addtoCart">+</button></td>
            
        </tr>
        <tr>

            <td> Product Name</td>
            <td colspan="2"> Product Description</td>
            <td></td>
            <td> <button id="addtoCart">+</button></td>

        </tr>

    </table>
    <hr />
</div>




}
