@model BotanicShop.Models.Image

@{
    ViewData["Title"] = "Challenge";
}

<div>
    <h1 class="PageHeader">Challenge</h1>
    <hr />
</div>

<div >
    <h3 class="text-center">Can you indentify the specimen in the picture?</h3>
    <hr />

    <img />
    <form>
        <table class="get-center">
            <tr>
                <td> Your guess: </td>
                <td> <input /></td>
                <td> <button id="challengeSubmit" type="submit" class=" btn btn-secondary">Submit</button> </td>
            </tr>            
        </table>
        <table class="get-center">
            <tr>
                <td>Need help in discovering a species name?</td>
                <td> <a class="btn btn-secondary" asp-area="" asp-controller="Challenge" asp-action="AddChallenge">Add Challenge</a> </td>

            </tr>
        </table>
    </form>
    <hr />
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
